<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="raleway.css">
  <link rel="stylesheet" href="style.css">
  <title>Fourrific - Error!</title>
</head>
<body>
<div id="top">
	<h1>Fourrific</h1>
</div>
<div id="error">
	<h2>Error: <%= @msg %></h2>
</div>

</body>
</html>