@font-face {
  font-family: 'Raleway';
  src: url("raleway_thin.eot");
  src: local('Raleway'),
        url("raleway_thin.otf") format('opentype');
}		

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#222222;
	width:300px;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#222222;
}

a:hover {
	background:#cecece !important;
}

ul li.far a:hover {
	background:#ededed !important;
}

#top {
	background:#999999;
	padding:8px 15px 5px 15px;
	margin-top:0;
	height:67px;
}

h1 {
	font-weight:normal;
	color:#fff;
	margin:0;
	padding:5px 0 10px 0;
	height:24px;
	font-size:24px;
	text-shadow:0 0px 0px #000;
	}
	
h2 {
	padding-top:5px;
	margin-top:0;
	margin-bottom:5px;
	font-weight:normal;
	text-shadow:0 0px 1px #999999;
	}

ul li.far h2 {
	text-shadow:0 0px 1px #cecece;
}

ul {
	padding:0;
	margin:0;
}

ul li {
	list-style-type:none;
	padding:15px;
	background:#f0f0f0;
	margin:0;
}

ul#geo_option {
	margin-left:0;
	}

ul#geo_option li {
	height:16px;
	float:left;
	cursor:pointer;
	padding:8px;
	background:#f5f5f5;
	margin-right:5px;
	margin-bottom:-1px;
	background:#222222;;
	color:#fff;
	border:1px solid #000;
	border-bottom:1px solid #000;
	opacity:.60;
	text-shadow:0 0px 0px #f0f0f0;
}

ul#geo_option li.active_tab {
	background:#f0f0f0 !important;
	color:#222222; !important;
	z-index:5;
	border-bottom:1px solid #f0f0f0;
	opacity:.99;
	text-shadow:0 0px 0px #000;
}

ul#checkins {
	border-top:1px solid #000;
	}

ul li.checkin {
	margin-bottom:5px;
	}

ul li.far {
	display:none;
	color:#858585;
	background:#f5f5f5;
}

ul li.far a {
	color: #858585;
}

ul li.far .userpic {
	opacity:.60;
}

time,.distance {
	font-family:Verdana, Helvetica, Arial,sans-serif;
	font-size:10px;
	line-height:8px;
	margin:0;
	padding:0;
	}

p {
	font-family:Verdana,helvetica,sans-serif;
	margin:5px;
	font-size:11px;
	font-weight:normal;
	}

ul li.checkin p {
	margin-left:0;
	}
	
.shout {
	font-style:italic;
	}

.off_grid {
	color:#660000;
}

.userpic {
	-moz-box-shadow:0 0 3px #000000;
	-webkit-box-shadow:0 0 3px #000000;
	float:right;
	height:50px;
	margin:5px -19px 15px 15px;
	width:50px;
	z-index:-5;
}

.userpic img {
	width:50px;
	height:50px;
}
#foot {
	padding-top:5px;
	padding-bottom:10px;
	height:20px;
	border-top:1px solid #cecece;
}
#foot p,#foot p a {
	color:#858585;
	font-size:11px;
	text-align:center;
	}
#error h2 a {
	text-decoration:underline;
	}