@font-face {
  font-family: 'Raleway';
  src: url("raleway_thin.eot");
  src: local('Raleway'),
        url("raleway_thin.otf") format('opentype');
}		

body {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#222222;
	width:300px;
	margin:0 auto;
}

a {
	text-decoration:none;
	color:#222222;
}
	
h2 {
	padding-top:5px;
	margin-top:0;
	margin-bottom:5px;
	}

ul {
	padding:0;
	margin:0;
}

ul li {
	list-style-type:none;
	padding:15px;
	background:#f0f0f0;
	margin:0;
	margin-bottom:5px;
}

ul#geo_option li {
	float:left;
	cursor:pointer;
	padding:20px;
	}

ul#geo_option li {
	background:#f5f5f5;
}

ul#geo_option li.active_tab,a:hover {
	background:#999999 !important;
	color:#fff !important;
}

ul li.far {
	display:none;
	color:#858585;
	background:#f5f5f5;
}

ul li.far a {
	color: #858585;
}

time,.distance {
	font-family:Verdana, Helvetica, Arial,sans-serif;
	font-size:10px;
	line-height:8px;
	margin:0;
	padding:0;
	}

p {
	font-family:Verdana,helvetica,sans-serif;
	margin:5px;
	font-size:11px;
	font-weight:normal;
	}

ul li.checkin p {
	margin-left:0;
	}
	
.shout {
	font-style:italic;
	}

.userpic {
	float:right;
	z-index:-5;
	margin-right:-15px;
	padding-left:15px;
	}
.userpic img {
	width:50px;
	height:50px;
}
#foot {
	padding-top:5px;
	padding-bottom:10px;
	height:20px;
	border-top:1px solid #cecece;
}
#foot p,#foot p a {
	color:#cecece;
	font-size:11px;
	text-align:center;
	}
